In [1]:
import pandas as pd
#Reading Dataset 
# select * from dataset_1
sql = pd.read_csv(r'C:\Users\HP\Downloads\dataset_18 nov.csv')
sql

,destination,passanger,weather,temperature,time,coupon,expiration,gender,age,maritalStatus,...,CarryAway,RestaurantLessThan20,Restaurant20To50,toCoupon_GEQ5min,toCoupon_GEQ15min,toCoupon_GEQ25min,direction_same,direction_opp,Y,row_count
0,No Urgent Place,Alone,Sunny,55,2PM,Restaurant(<20),1d,Female,21,Unmarried partner,...,NaN,4~8,1~3,1,0,0,0,1,1,1
1,No Urgent Place,Friend(s),Sunny,80,10AM,Coffee House,2h,Female,21,Unmarried partner,...,NaN,4~8,1~3,1,0,0,0,1,0,2
2,No Urgent Place,Friend(s),Sunny,80,10AM,Carry out & Take away,2h,Female,21,Unmarried partner,...,NaN,4~8,1~3,1,1,0,0,1,1,3
3,No Urgent Place,Friend(s),Sunny,80,2PM,Coffee House,2h,Female,21,Unmarried partner,...,NaN,4~8,1~3,1,1,0,0,1,0,4
4,No Urgent Place,Friend(s),Sunny,80,2PM,Coffee House,1d,Female,21,Unmarried partner,...,NaN,4~8,1~3,1,1,0,0,1,0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12679,Home,Partner,Rainy,55,6PM,Carry out & Take away,1d,Male,26,Single,...,1~3,4~8,1~3,1,0,0,1,0,1,12680
12680,Work,Alone,Rainy,55,7AM,Carry out & Take away,1d,Male,26,Single,...,1~3,4~8,1~3,1,0,0,0,1,1,12681
12681,Work,Alone,Snowy,30,7AM,Coffee House,1d,Male,26,Single,...,1~3,4~8,1~3,1,0,0,1,0,0,12682
12682,Work,Alone,Snowy,30,7AM,Bar,1d,Male,26,Single,...,1~3,4~8,1~3,1,1,1,0,1,0,12683
12683,Work,Alone,Sunny,80,7AM,Restaurant(20-50),2h,Male,26,Single,...,1~3,4~8,1~3,1,0,0,1,0,0,12684

In [4]:
# READ 2 ATTRIBUTES FROM DATASET
#SELECT WEATHER , TEMPRETURE FROM DATASET_1;

sql[['weather','temperature']]

      weather  temperature
0       Sunny           55
1       Sunny           80
2       Sunny           80
3       Sunny           80
4       Sunny           80
...       ...          ...
12679   Rainy           55
12680   Rainy           55
12681   Snowy           30
12682   Snowy           30
12683   Sunny           80

[12684 rows x 2 columns]

In [5]:
#SELECT WEATHER FROM DATASET_1
sql['weather']

0        Sunny
1        Sunny
2        Sunny
3        Sunny
4        Sunny
         ...
12679    Rainy
12680    Rainy
12681    Snowy
12682    Snowy
12683    Sunny
Name: weather, Length: 12684, dtype: object

In [7]:
#EXTRACTING TOP 10 ROWS
# SELECT * FROM DATASET_1 LIMIT 10
sql.head(10)

,destination,passanger,weather,temperature,time,coupon,expiration,gender,age,maritalStatus,...,CarryAway,RestaurantLessThan20,Restaurant20To50,toCoupon_GEQ5min,toCoupon_GEQ15min,toCoupon_GEQ25min,direction_same,direction_opp,Y,row_count
0,No Urgent Place,Alone,Sunny,55,2PM,Restaurant(<20),1d,Female,21,Unmarried partner,...,NaN,4~8,1~3,1,0,0,0,1,1,1
1,No Urgent Place,Friend(s),Sunny,80,10AM,Coffee House,2h,Female,21,Unmarried partner,...,NaN,4~8,1~3,1,0,0,0,1,0,2
2,No Urgent Place,Friend(s),Sunny,80,10AM,Carry out & Take away,2h,Female,21,Unmarried partner,...,NaN,4~8,1~3,1,1,0,0,1,1,3
3,No Urgent Place,Friend(s),Sunny,80,2PM,Coffee House,2h,Female,21,Unmarried partner,...,NaN,4~8,1~3,1,1,0,0,1,0,4
4,No Urgent Place,Friend(s),Sunny,80,2PM,Coffee House,1d,Female,21,Unmarried partner,...,NaN,4~8,1~3,1,1,0,0,1,0,5
5,No Urgent Place,Friend(s),Sunny,80,6PM,Restaurant(<20),2h,Female,21,Unmarried partner,...,NaN,4~8,1~3,1,1,0,0,1,1,6
6,No Urgent Place,Friend(s),Sunny,55,2PM,Carry out & Take away,1d,Female,21,Unmarried partner,...,NaN,4~8,1~3,1,1,0,0,1,1,7
7,No Urgent Place,Kid(s),Sunny,80,10AM,Restaurant(<20),2h,Female,21,Unmarried partner,...,NaN,4~8,1~3,1,1,0,0,1,1,8
8,No Urgent Place,Kid(s),Sunny,80,10AM,Carry out & Take away,2h,Female,21,Unmarried partner,...,NaN,4~8,1~3,1,1,0,0,1,1,9
9,No Urgent Place,Kid(s),Sunny,80,10AM,Bar,1d,Female,21,Unmarried partner,...,NaN,4~8,1~3,1,1,0,0,1,0,10

In [2]:
# EXTRACT UNIQUE VALUES FROM PASSANGER COLUMN
# SELECT DISTINCT(PASSANGER) FROM DATASET_1;
sql['passanger'].unique()

array(['Alone', 'Friend(s)', 'Kid(s)', 'Partner'], dtype=object)

In [3]:
sql['passanger'].describe()

count     12684
unique        4
top       Alone
freq       7305
Name: passanger, dtype: object

In [4]:
sql['passanger'].max()

'Partner'

In [5]:
sql.sort_values(by = 'temperature')         #accending order

,destination,passanger,weather,temperature,time,coupon,expiration,gender,age,maritalStatus,...,CarryAway,RestaurantLessThan20,Restaurant20To50,toCoupon_GEQ5min,toCoupon_GEQ15min,toCoupon_GEQ25min,direction_same,direction_opp,Y,row_count
10794,Work,Alone,Snowy,30,7AM,Coffee House,1d,Female,31,Single,...,1~3,1~3,less1,1,0,0,1,0,1,10795
10784,No Urgent Place,Alone,Snowy,30,10AM,Restaurant(<20),1d,Female,31,Single,...,1~3,1~3,less1,1,1,0,0,1,1,10785
10780,No Urgent Place,Friend(s),Snowy,30,2PM,Restaurant(<20),1d,Female,31,Single,...,1~3,1~3,less1,1,0,0,0,1,1,10781
10779,No Urgent Place,Friend(s),Sunny,30,10AM,Carry out & Take away,2h,Female,31,Single,...,1~3,1~3,less1,1,0,0,0,1,1,10780
10775,Work,Alone,Snowy,30,7AM,Carry out & Take away,1d,Female,31,Unmarried partner,...,less1,1~3,less1,1,1,0,1,0,0,10776
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,No Urgent Place,Friend(s),Sunny,80,2PM,Coffee House,1d,Female,21,Unmarried partner,...,NaN,4~8,1~3,1,1,0,0,1,0,5
3,No Urgent Place,Friend(s),Sunny,80,2PM,Coffee House,2h,Female,21,Unmarried partner,...,NaN,4~8,1~3,1,1,0,0,1,0,4
2,No Urgent Place,Friend(s),Sunny,80,10AM,Carry out & Take away,2h,Female,21,Unmarried partner,...,NaN,4~8,1~3,1,1,0,0,1,1,3
12683,Work,Alone,Sunny,80,7AM,Restaurant(20-50),2h,Male,26,Single,...,1~3,4~8,1~3,1,0,0,1,0,0,12684
1,No Urgent Place,Friend(s),Sunny,80,10AM,Coffee House,2h,Female,21,Unmarried partner,...,NaN,4~8,1~3,1,0,0,0,1,0,2

In [9]:
#SELECT * FROM DATASET_1 ORDER BY COLUMN DESC;
sql.sort_values(('coupon'),ascending= False)

,destination,passanger,weather,temperature,time,coupon,expiration,gender,age,maritalStatus,...,CarryAway,RestaurantLessThan20,Restaurant20To50,toCoupon_GEQ5min,toCoupon_GEQ15min,toCoupon_GEQ25min,direction_same,direction_opp,Y,row_count
0,No Urgent Place,Alone,Sunny,55,2PM,Restaurant(<20),1d,Female,21,Unmarried partner,...,NaN,4~8,1~3,1,0,0,0,1,1,1
2503,No Urgent Place,Friend(s),Sunny,80,6PM,Restaurant(<20),2h,Male,21,Single,...,1~3,less1,never,1,1,0,0,1,1,2504
7480,Work,Alone,Sunny,80,7AM,Restaurant(<20),1d,Female,31,Unmarried partner,...,less1,less1,never,1,0,0,1,0,1,7481
7478,Work,Alone,Snowy,30,7AM,Restaurant(<20),2h,Female,31,Unmarried partner,...,less1,less1,never,1,1,1,0,1,1,7479
7477,Work,Alone,Rainy,55,7AM,Restaurant(<20),2h,Female,31,Unmarried partner,...,less1,less1,never,1,1,1,0,1,0,7478
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6666,Work,Alone,Rainy,55,7AM,Bar,1d,Male,26,Unmarried partner,...,1~3,4~8,less1,1,0,0,0,1,0,6667
804,Work,Alone,Sunny,55,7AM,Bar,1d,Female,46,Married partner,...,1~3,less1,never,1,1,1,0,1,1,805
9964,Work,Alone,Rainy,55,7AM,Bar,1d,Male,31,Single,...,1~3,1~3,1~3,1,1,1,0,1,0,9965
6676,Home,Alone,Sunny,55,6PM,Bar,2h,Male,21,Single,...,4~8,1~3,less1,1,1,0,1,0,0,6677
10993,No Urgent Place,Friend(s),Sunny,80,10PM,Bar,1d,Female,36,Single,...,1~3,less1,less1,1,1,0,0,1,1,10994